html
{
	user-select: none;
}
html, input
{
	font-size: 16px;
	font-family: sans-serif;
}

.layer
{
	position: absolute;
}

/* Transmit trainer */
#status-bar
{
	display: flex;
	margin-bottom: 8px;
	align-items: center;
	flex-wrap: wrap;
}

#led
{
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

#output
{
	font-family: monospace;
}

/* Settings */
#title
{
	margin: 0 0 4px 24px;
}
#settings label
{
	display: block;
	padding: 4px 0;
}
#settings > :last-child
{
	margin-top: 4px;
}

#volume-input
{
	width: calc(3.5ch + 15px);
}
#frequency-input
{
	width: calc(4.5ch + 15px);
}
#speed-input
{
	width: calc(3.5ch + 15px);
}
